.button {
    -fx-background-radius: 5;
}

/**
    DARK MODE
**/

.overlay {
    -fx-background-color: -color-bg-subtle;
    -fx-background-radius: 15;
}

.action-btn{
    -fx-padding: 6;
    -fx-border-color: transparent;
}
.action-btn {
    -fx-background-color: #33A9EE;
    -fx-text-fill: black;
}

.action-btn:hover {
    -fx-background-color: #0094EA; ;
    -fx-text-fill: white;
}

.dangerBtn {
    -fx-background-color: #EF4444;
}