/**
    DARK MODE
**/

.overlay {
    -fx-background-color: -color-bg-subtle;
    -fx-background-radius: 15;
}

.button {
    -fx-background-color: #0094EA;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: -color-bg-subtle;
}

.dangerBtn {
    -fx-background-color: #EF4444;
}